body {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    background: #e5e5e5;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

header {
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}

h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 800;
    padding: 60px;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 0 3px 36px;
    padding: 7px 15px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
}

#convert-btn {
    background: #ED4683;
}

#reset-btn {
    background: #3D6BE5;
}

input {
    margin-top: 3px 0;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
}

main {
    background: #172937;
    padding: 30px;
}

main p {
    margin: 0;
}

div {
    margin: 30px;
}

#length-el,
#volume-el,
#mass-el {
    color: #d2d2d2;
    font-weight: 400;
    padding-top: 6px;
}